page-item-detail {

  .fixed-content{
      background: url('../assets/img/hangersbg.png') no-repeat transparent;
      opacity: 0.3;
      background-size: cover;
      background-repeat: repeat-x;
  }

  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }


  .photo-tile{
    position: relative;
    height: 200px;
    width:100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 1s ease-in 0s;
    //animation-duration: 100s; 
    //animation-name: animatedBackground; 
    //animation-iteration-count: infinite;
}

@keyframes animatedBackground {
  from { background-position: center; }
  to { background-position: center bottom; }
}

.photo-tile-details{
    position: absolute;
    width: 100%; 
    background-color: color($colors, light-grey, base);
    bottom: 0px;
    padding: 5px;
}

.photo-tile-info{
    float: right;
}


.cntFigure{
    color: color($colors, dark, base);
}

.photo-tile-details-icon{
    color: color($colors, dark, base);
}

}