page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }


  .photo-tile{
    position: relative;
    height: 200px;
    width:100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 1s ease-in 0s;
    //animation-duration: 100s; 
    //animation-name: animatedBackground; 
    //animation-iteration-count: infinite;
}

@keyframes animatedBackground {
  from { background-position: center; }
  to { background-position: center bottom; }
}

.photo-tile-details{
    position: absolute;
    width: 100%; 
    background-color: color($colors, light-grey, base);
    bottom: 0px;
    padding: 5px;
}

.photo-tile-info{
    float: right;
}


.cntFigure{
    color: color($colors, dark, base);
}

.photo-tile-details-icon{
    color: color($colors, dark, base);
}

.flag-compare{
  position: absolute; 
  height: 40px; 
  width: 30px; 
  display: flex; 
  align-items: center; 
  right: 5px; 
  background: color($colors, light-grey, base);
}

.flag-icon{
  text-align: center;
  width: 100%;
  font-size: 30px;
}

.flag-icon.active{
  color: white;
}

.flag-compare.active{
  background: color($colors, primary, base);
}


}
