

  <div id="countdownOverlay" hidden>
    <div id="countDownText">{{secondsUntilShot}}</div>
  </div>

<ion-content no-bounce >


  <ion-buttons class="btn-header">
    <button ion-button icon-only clear (click)="navBack()">
      <ion-icon class="icon" name="arrow-back"></ion-icon>
    </button>
  </ion-buttons>

  <div class="ar-arrow-box" *ngIf="!isPreview && isVideoCapture">
      <!-- <ion-icon class="ar-icon" name="ios-refresh-circle-outline"></ion-icon>-->
      <i class="fas fa-sync ar-icon" ></i> 
  </div>

  <div id="onAirCapture" hidden class="recordingIcon"></div>

  <ion-select class="collection-list" [(ngModel)]="collectionId" >
    <ion-option value="0">{{ 'SELECT' | translate }}</ion-option>
    <ion-option *ngFor="let c of collectionList" [value]="c.collectionId" >#{{c.collectionTitle}}</ion-option>
  </ion-select>

  <img 
  #previewPictureRef 
  id="previewPicture"
  [class]="'filter-' + filterSelected" 
  [src]="previewPicture"
  >
  
<button id="btn-capture-picture" class="btn-footer-cam" (click)="takePicture()" *ngIf="!isPreview" >
   <div class="inner"></div>
</button>

<button id="btn-effects" (click)="toggleEffects()" >
  <ion-icon class="icon" name="color-wand"></ion-icon>
  <div class="inner">Effekte</div>
</button>

<button id="btn-tags" (click)="enableTags()"  >
  <ion-icon class="icon"  name="pricetags"></ion-icon>
  <div class="inner">Produkte</div>
</button>

<button id="btn-save" ion-button icon-only clear (click)="acceptAndStore()" [disabled]="collectionId == '0'">
  <ion-icon name="checkmark"></ion-icon>
</button>


<div id="preview-footer" [class.showEffects]="showEffects" *ngIf="isPreview">
 
  <div *ngFor="let f of filters"  [class.selected]="f.name == filterSelected" [class]="'filterPreview filter-' + f.name" (click)="setFilter(f.name)" >
  
    <img [src]="previewPicture" >

  </div>

</div>

<div id="tags-footer" [class.showTags]="showTags">

    <div drag-item id="new-tag" class="purchase-tag">

    </div>
 
    <div *ngFor="let t of purchaseTags"  class="purchase-tag" >
  
      <img [src]="t.tagImage" >
  
    </div>
  
  </div>

</ion-content>



