@import "../../theme/variables";

page-capture {


    // enable for preview on device 

    
    background: transparent !important;

    html, body, ion-app, ion-content, ion-page, .content, .nav-decor {
        background: transparent !important;
      }

    .toolbar-background{
       background-color: color($colors, primary, base);
    }

    .btn-footer-capture, .btn-footer-cam{
        font-size: 30px;
        color: color($colors, dark-text, base);
        font-weight: 900; 
        text-align: center;
    }

    .btn-footer-cam{
        border-right: 1px solid color($colors, dark-text, base);
    }

    .testImg{
        width: 200px; 
        height: 200px; 
    }

    @keyframes turnArrow{
        from { 
             transform: rotate3d(1,0,0,60deg) rotate(0deg); 
        }
        to { 
            transform : rotate3d(1,0,0,60deg) rotate(360deg); 
        }
    }

    .ar-icon{
        
        -webkit-animation: turnArrow 5s infinite;
        -moz-animation: turnArrow 5s infinite;
        -o-animation: turnArrow 5s infinite;
        animation: turnArrow 5s infinite;
        animation-timing-function: linear;
    }

    .ar-arrow-box{
        color: rgba(color($colors, primary, base),0.7);
        font-size: 150px;
        position: absolute; 
        bottom: 30px;
        //top: 70vh; 
        width: 100%; 
        text-align: center;
    }
    
    
    .recordingIcon{
        background-color: rgb(143, 5, 16); 
        height: 50px;
        width: 50px; 
        position: absolute; 
        right: 40px; 
        top: 30px; 

        -moz-border-radius: 75px; 
        -webkit-border-radius: 75px;
       
        animation: blinker 1s linear infinite;
    }

    @keyframes blinker{
        50% { opacity : 0;}
    }

         
    #countdownOverlay {
        width: 100vw; /* Full width (cover the whole page) */
        height: 100vh; /* Full height (cover the whole page) */
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(101, 101, 101, 0.5);
        z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        position: fixed;
        //visibility: hidden;
    } 

    #countDownText{

        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 200px;
        color: white;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        
    }

}
