@import "../../theme/variables";

page-capture {

    
    [class*="filter"] {
        position: relative;
    }
    


    .collection-list{
        position: absolute; 
        top: 25px;
        right: 65px;
        width: 200px;
        z-index: 999999;
        text-align: right;
        color: color($colors, primary, base);
    }

    #filter-box{
        position: fixed; 
        top: 0; 
        left: 0;
        z-index: 200;
    }

    .filterOverlay{
        height: 100vh;
        width: 100vw;
        padding-top :50px;
    }

    #preview-footer{
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-y: hidden;
        white-space: nowrap;
        background-color: white;
        z-index: 20000;
    }

    .filterPreview{
        width: 100px;
        height: 100px;
        display: inline-block;
        margin: 5px;
        border-radius:2px;
    }

    .filterPreview.selected{
        transform: scale(1.3);
    }

    .filterPreview img{
        object-fit: cover; 
        object-position: center;
        height: 100%; 
        width: 100%;
    }
    
    background: transparent !important;

    html, body, ion-app, ion-content, ion-page, .content, .nav-decor {
        background: transparent !important;
      }

    .toolbar-background{
       background-color: color($colors, primary, base);
    }



    .btn-footer-capture, .btn-footer-cam{
        font-size: 30px;
        color: color($colors, dark-text, base);
        font-weight: 900; 
        text-align: center;
    }

    #btn-take-picture.btn-footer-cam{
        border-right: 1px solid color($colors, dark-text, base);
    }

    .testImg{
        width: 200px; 
        height: 200px; 
    }

    #previewPicture{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh; 
        width: 100vw;
        object-fit: cover;
        object-position: center;
        z-index: 100;
    }

    @keyframes turnArrow{
        from { 
             transform: rotate3d(1,0,0,60deg) rotate(0deg); 
        }
        to { 
            transform : rotate3d(1,0,0,60deg) rotate(360deg); 
        }
    }
 
    .ar-icon{
        
        -webkit-animation: turnArrow 5s infinite;
        -moz-animation: turnArrow 5s infinite;
        -o-animation: turnArrow 5s infinite;
        animation: turnArrow 5s infinite;
        animation-timing-function: ease-in-out;
    }

    .ar-arrow-box{
        color: rgba(color($colors, primary, base),0.4);
        font-size: 80px;
        position: absolute; 
        bottom: 1px;
        //top: 70vh; 
        width: 100%; 
        text-align: center;
    }
    
    
    .recordingIcon{
        background-color: rgb(143, 5, 16); 
        height: 50px;
        width: 50px; 
        position: absolute; 
        right: 40px; 
        top: 30px; 

        -moz-border-radius: 75px; 
        -webkit-border-radius: 75px;
       
        animation: blinker 1s linear infinite;
    }

    @keyframes blinker{
        50% { opacity : 0;}
    }

         
    #countdownOverlay {
        width: 100vw; /* Full width (cover the whole page) */
        height: 100vh; /* Full height (cover the whole page) */
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(101, 101, 101, 0.5);
        z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        position: fixed;
        //visibility: hidden;
    } 

    #countDownText{

        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 200px;
        color: white;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        
    }

}
