
  
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'COLLECTION_CREATE_TITLE' | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button [disabled]="!isValid"  (click)="saveCollection()" strong>
        <span color="primary" showWhen="ios">
          {{ 'SAVE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>


    <form [formGroup]="collectionForm">

      <ion-item class="form-item">
        <ion-label floating>{{ 'COLLECTIONTITLE' | translate }}</ion-label>

        <ion-input 
        formControlName="collectionTitle" 
        name="collectionTitle" 
        type="text"
        (input)="validateCollection($event)"
        
        ></ion-input>
       

      </ion-item>
      <p class="error-msg" *ngIf="!isValid">{{ 'COLLECTIONTITLE_REQUIRED' | translate }}</p>

      <ion-item class="form-item">
        <ion-label floating>{{ 'COLLECTIONDESCRIPTION' | translate }}</ion-label>

        <ion-input  formControlName="collectionDescription" name="collectionDescription" type="text"></ion-input>

      </ion-item>

      <ion-item class="form-item">
        <ion-label>{{ 'PUBLIC' | translate }}</ion-label>
        <ion-select #publicSelect formControlName="privacyStatus" name="privacyStatus" (ionChange)  ="privacyChange($event)" >
          <ion-option *ngFor="let o of privacyOptions" [value]="o.value" >{{o.option}}</ion-option>
        </ion-select>
      </ion-item>
    
    </form>

  <ion-item class="form-item" [hidden]="privSelected == '1' || privSelected == '3'">
    <div class="selected-users-container">
        <div class="selected-user" *ngFor="let friend of sharedWithUsers; let i = index;" (click)="removeFriend(friend, i)" >
            <img [src]="util.wrapHostBase(friend.userAvatarPath)" > 
            {{friend.userName}}
            <ion-icon name='close-circle'></ion-icon>
        </div>
    </div>
    <ion-searchbar 
    [placeholder]="invitePlaceholder"
    [(ngModel)]="searchTerm" 
    (ionInput)="searchChanged($event)"></ion-searchbar>
  </ion-item>
      
  <ion-list #searchList class="search-list"  [hidden]="privSelected == '1' || privSelected == '3'" >
      <ion-item *ngFor="let result of tmpSearchlist; let i = index;">
          <div class="result-item" (click)="toggleFriend(result)" >
             
              <div class="avatar" [style.backgroundImage]="'url(' + util.wrapHostBase(result.userAvatarPath) + ')'">
                  <ion-icon name="checkmark" [hidden]="getIfCheckedHidden(result)" item-right></ion-icon>
              </div>

              @{{result.userName}}
          </div>
      </ion-item>
  </ion-list>

</ion-content>

