@import "../../theme/variables";

page-collection-create {

  .searchbar-ios{
    background-color: unset;
  }



  .header{
    position: relative !important;
  }


  .profile-image-wrapper {
    text-align: center;
    margin: 20px 0;

    .profile-image {
      width: 96px;
      height: 96px;
      border-radius: 50%;

      display: inline-block;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .profile-image-placeholder {
      display: inline-block;

      background-color: #eee;
      width: 96px;
      height: 96px;
      border-radius: 50%;

      font-size: 12px;

      ion-icon {
        font-size: 44px;
        margin-bottom: -10px;
        margin-top: 10px;
      }
    }
  }
  .form-item{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .form-item p{
    color: white;
  }

  .content{
    background-color: $background-color !important;
    background-image: unset; 
    // height: 60vh;
  }

  .item-toggle{
    height: 70px;
  }

  .hidden{
    display: none;
  }

  .selected-users-container{
    display: flex;
    flex-wrap: wrap;
  }

  .selected-user{
    display: flex; 
    margin: 4px; 
    background-color:  color($colors, light, base);
    padding: 4px; 
    border-radius: 4px;
    font-size: 12px; 
    align-items: center;
  }

  .selected-user img{
    height: 20px; 
    width: 20px; 
    border-radius: 20px;
    margin-right: 5px;
  }

  .selected-user .icon{
    margin-left: 5px;
  }

  .search-list{
    margin-bottom: 200px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .search-list ion-label{
    margin: 0;
  }

  .result-item{
    display: flex; 
    align-items: center;
  }

  .result-item .avatar{
    display: inline-flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px; 
    width: 40px; 
    border-radius: 25px;
    margin-right: 20px;
    overflow: hidden;

  }

   .avatar .icon{
     width: 100%; 
     margin: 0; 
     padding-top: 10px; 
     background-color: rgba(color($colors, primary, base), 0.7); 
     text-align: center;
   }

  .error-msg{
    padding-left: 16px;
    font-size: 10px; 
    color: color($colors, primary, base);

  }

  .search-list .item-block,
  .search-list .item-inner,
  {
    border: unset !important;
    border-bottom: unset; 
  }

  .search-list .item{
    margin-bottom: 10px;
  }


}
