<ion-header>

  <ion-navbar>
      <ion-buttons>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>

    <ion-title>{{ 'FITTING_STREAM_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content id="fitting-stream-container">

  <div ion-fixed class="dot-container">
    <div class="dot" 
    [class.isVisible]="visibleIndex == i"
    *ngFor="let item of api.streamItems; let i = index;"
    (click)="setVisibleItem(i)">

    </div>
  </div>

  <div ion-fixed id="activity-box" class="activity-box">
      <activity-item
      class="act-item"
      [class.isVisible]="visibleIndex == i"
      [index]="i"
      [type]="item.itemType"
      [context]="item"
      (onVoteClick)="onVoteClick($event, item)"
      *ngFor="let item of api.streamItems; let i = index;"
    >

    </activity-item>
  </div>
   
    
</ion-content>

