@import "../../theme/variables";

page-my-room {

    ion-fab[top][edge]{
        top: 32px;
        z-index: 99999;
    }

    #profile-area{
        background-color: white !important;
    }
    .profile-area{
        
        position: relative;
        height: 120px;
        width: 100vw;
        margin-bottom:20px;
        //transition: 0.5s ease;
    }

    .profile-area.isFixed{
        position: fixed;
        z-index: 999;
        height: 36px;
        width: 100vw;
        //transition: 0.5s ease;
    }

    .profile-background{
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute; 
        top: 0;
        left: 0;
        opacity: 0.2;
    }

    .profile-area.isFixed .profile-avatar{
        height: 30px;
        width: 30px; 
        bottom: 3px;
        //transition: 0.5s ease;
    }

    .profile-avatar{
        left: 12px;
        bottom: -8px;
        border-radius: 100px;
        position: absolute;
        height: 100px;
        width: 100px; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 5px solid white;
    }


    .follow-btn{
        height: 30px; 
        margin-top: 8px;
        font-family: Roboto;
        font-size:16px;
    }

    .follow-btn-small{
        display: none;
    }

    .follow-btn.isFollowed{
        background-color: color($colors, primary, base);;
    }

    .follow-icon{
        padding-right: 5px;
    }

    .profile-area.isFixed .follow-btn-small{
        display: unset;
        position: absolute; 
        right: 0; 
        font-size: 12px; 
        height: 22px;
        margin-right: 0;
        //transition: 0.5s ease;
    }

    .profile-area.isFixed .follow-btn{
        display: none;
        //transition: 0.5s ease;
    }


    .profile-area.isFixed .profile-user{
        font-size: 12px;
        font-weight: 100;
        left: 70px;
        bottom: 8px;
        top: unset;
        //transition: 0.5s ease;
    }

    .profile-user{
        font-size: 20px;
        font-weight: 100;
        left: 120px;
        top: 50px;
        position: absolute;
        color : color($colors, dark-text, base);
    }

    .badge-container{
        position: absolute; 
        left: 120px; 
        bottom: -15px; 
        display: flex;
    }

    .badge-container .badge{
        color: color($colors, primary, base);
        padding: 5px;
    }

    .blank-card{
        display: flex; 
        align-items: center;
        margin: 12px;
        border: 2px dashed;
        background-color: #f9f9f99c;
        height: 80px; 
        color: rgba(color($colors, dark-grey, base), 0.3);
    }

    .blank-card-add{
        width: 10%; 
        text-align: center;
        font-size: 50px;
    }

    .cf-fab-btn{
        position: fixed;
        bottom: 70px; 
        border-radius: 50px;
        color: white;
        z-index:9999;
        height: 50px; 
        width: 50px;
        background-color: color($colors, primary, base);
    }

    .cf-fab-btn.left{
        left: 15px;
    }

    .cf-fab-btn.right{
        right: 15px;
    }

    .cf-fab-btn.right-2{
        right: 75px;
    }

    .cf-fab-btn-icon{
        width: 100%;
        text-align: center;
        font-size: 30px;
    }

    .collection-list{
        margin-top: 130px;
    }

    .swiper-slide img{
        height: 100% !important; 
        width: 100% !important; 
        object-fit: cover; 
        object-position: center;
        max-width: unset; 
        max-height: unset; 
    }
    
    .slide-zoom{
        height: 100%;
    }

    .ion-slides{
        z-index: -1; 
    }

    
    .room-refresher{
        top: 190px !important;
    }

    .local-item{
        color: red;
    }


}