<ion-header>

  <ion-navbar class="nav-header">
    <ion-buttons start>
        <button ion-button icon-only menuToggle >
          <ion-icon name="menu"></ion-icon>
        </button>

      </ion-buttons>

    <ion-title >
      {{ 'LIST_MASTER_TITLE' | translate }}
      <p class="room-user-Id">@{{roomUserName}}</p>

    </ion-title>

    <ion-buttons end>

      <button class="headerBtn" ion-button icon-only (click)="toNotification()" [disabled]='msg.isNotificationDisabled()' >
        <div class="cnt-new-notifications"> {{msg.newMessages.length}}</div>   
          <ion-icon name="chatboxes" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<button color="primary" class="cf-fab-btn left" (click)="addItem()" *ngIf="auth.getUserId() == roomUserId">
    <ion-icon class="cf-fab-btn-icon" name="add"></ion-icon>
</button>

<button color="primary" class="cf-fab-btn right-2" *ngIf="auth.getUserId() == roomUserId" [disabled]="api.getSelectedCollectionId().isSelected" (click)="takePictureToCollection()">
    <ion-icon class="cf-fab-btn-icon" name="camera"></ion-icon>
</button>

<button color="primary" class="cf-fab-btn right" *ngIf="auth.getUserId() == roomUserId" [disabled]="api.getSelectedCollectionId().isSelected" (click)="captureToCollection()">
    <ion-icon class="cf-fab-btn-icon" name="refresh-circle"></ion-icon>
</button>

<ion-content>
  
  <ion-refresher (ionRefresh)="api.getCollections(roomUserId, ($event.complete()))">
      <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Update MyRoom"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher> 

 


<!--
  <ion-fab class="fab-button left" *ngIf="auth.getUserId() == roomUserId">
      <button ion-fab (click)="addItem()">
          <ion-icon name="add"></ion-icon>

         
        </button>
    </ion-fab>


  <ion-fab class="fab-button right" *ngIf="auth.getUserId() == roomUserId">
    <button ion-fab class="swipe-btn" [disabled]="api.getSelectedCollectionId().isSelected" (click)="captureToCollection()">
        <ion-icon class="swipe-icon" name="videocam"></ion-icon>
      </button>
  </ion-fab>
-->

   <ion-list>
    <ion-item-sliding #slideItem *ngFor="let item of api.collections">
      <ion-item>
        <div class="session-tile" [style.backgroundImage]="'url(' + util.wrapHostBase(item.getThumbnail()) + ')'" (click)="openItem(item)">

            <div id="flag_{{item._id}}" class="flag-compare flag" [class.active]="item.getId() === api.getSelectedCollectionId().selectedId">
                <ion-icon id="flag-icon_{{item._id}}" name="videocam" class="photo-tile-details-icon flag-icon" [class.active]="item.getId() === api.getSelectedCollectionId().selectedId" ></ion-icon>
            </div>

          <div class="session-tile-details" [style.backgroundColor]="item.getPrimeColor() + 'e6'">
            <div class="info ">
              <p class="title center">#{{item.collectionTitle}}</p>
              <p class="date center">12 may '18</p>
            </div>
            <ion-grid class="details-container">
              <ion-row class="session-tile-row" >
                <ion-col>
                    <ion-icon name="unlock" class="session-tile-details-icon"></ion-icon>
                  <!-- <font class="session-tile-collection-title"> {{item.collectionTitle}} </font> -->
                </ion-col>

                

                <ion-col> 
                  <div class="session-tile-info">
                      <font class="cntFigure">
                          {{item.getNoSessions()}}
                      </font>
                      <ion-icon name="photos" class="session-tile-details-icon"></ion-icon>
                      <font class="cntFigure">
                          {{item.getNoComments()}}
                      </font>
                      <ion-icon name="text" class="session-tile-details-icon"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
    </ion-item>

    <ion-item-options side="right" *ngIf="auth.checkProfile(item, 'owner')">
      <button class="swipe-btn" ion-button (click)="deleteCollection(item, slideItem)">
        <ion-icon class="swipe-icon" name="trash"></ion-icon>
        {{'DELETE' | translate}}
      </button>
    </ion-item-options>

    <ion-item-options side="left" *ngIf="auth.checkProfile(item, 'owner')">
        <button class="swipe-btn" ion-button (click)="quickSelectCapture(item, slideItem)">
          <ion-icon class="swipe-icon" name="videocam"></ion-icon>
          {{'SELECT' | translate}}
        </button>

        <button class="swipe-btn border-left" ion-button (click)="itemSettings(item, slideItem)">
            <ion-icon class="swipe-icon" name="settings"></ion-icon>
            {{'SETTINGS' | translate}}
          </button>

    </ion-item-options>


    </ion-item-sliding>

    <div class="blank-card" (click)="addItem()" *ngIf="api.collections.length == 0">
        <ion-icon class="blank-card-add" name="add">
        </ion-icon>
        {{'BLANK_CARD_ADD_COLLECTION' | translate}}
    </div>

  </ion-list>



  <!--
  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
-->
</ion-content>