<ion-header>

  <ion-navbar class="nav-header">
    <ion-buttons left class="left-button-group">
        <button ion-button icon-only menuToggle >
          <ion-icon name="person"></ion-icon>
        </button>

      </ion-buttons>

    <ion-title >
      {{roomTitle}}
    </ion-title>
    <ion-buttons end>

      <button class="notification" ion-button icon-only (click)="toNotification()" >
        <div class="cnt-new-notifications"> {{msg.newMessages.length}}</div>   
          <ion-icon name="chatboxes" ></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content (ionScroll)="onContentScroll($event)">
  
  <ion-refresher class="room-refresher" (ionRefresh)="loadRoom($event)">
      <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Update MyRoom"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher> 

 
  <ion-fab top right edge #fab1  *ngIf="auth.getUserId() == roomUserId">
    <button ion-fab mini (click)="clickMainFAB()"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab (click)="captureCameraPicture(false, fab1)"><ion-icon name="ios-images-outline"></ion-icon></button>
      <button ion-fab (click)="captureCameraPicture(true, fab1)"><ion-icon name="ios-camera-outline"></ion-icon></button>
      <button ion-fab (click)="addItem(fab1)"><ion-icon name="ios-shirt-outline"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

<!--
  <ion-fab class="fab-button left" *ngIf="auth.getUserId() == roomUserId">
      <button ion-fab (click)="addItem()">
          <ion-icon name="add"></ion-icon>

         
        </button>
    </ion-fab>


  <ion-fab class="fab-button right" *ngIf="auth.getUserId() == roomUserId">
    <button ion-fab class="swipe-btn" [disabled]="api.getSelectedCollectionId().isSelected" (click)="captureToCollection()">
        <ion-icon class="swipe-icon" name="videocam"></ion-icon>
      </button>
  </ion-fab>
-->


  <ion-row ion-fixed >
    <div id="profile-area" class="profile-area" [class.isFixed]="profileFixed">
       <!-- <img class="profile-background" [src]="util.sanitizeResource(util.wrapHostBase(auth.getUserAvatarPath()))">
      -->
        <div class="profile-avatar" 
        [style.backgroundImage]="'url(' + util.wrapHostBase(roomUserAvatarPath) + ')'">
        </div>
  

        <div class="profile-user">
            <div>@{{roomUserName}}</div>
            <button *ngIf="auth.getUserId() != roomUserId" (click)="followUser()"
            class="follow-btn" [class.isFollowed]="roomUser?.isFollowed" ion-button color="light-grey">
            <ion-icon class="follow-icon" name="checkmark" *ngIf="roomUser?.isFollowed"></ion-icon> Folgen
            </button>
        </div>

        <button *ngIf="auth.getUserId() != roomUserId" (click)="followUser()"
        class="follow-btn-small" [class.isFollowed]="roomUser?.isFollowed" ion-button color="primary">Folgen</button>

        <div class="badge-container">
            <div class="badge">
                <ion-icon name="bookmark"></ion-icon>
            </div>

            <div class="badge">
                <ion-icon name="bookmark"></ion-icon>
            </div>
        </div>
        
    </div>
    
  </ion-row>

   <ion-list class="collection-list">

      <ion-item *ngFor="let item of collections">
        <div class="session-tile" >

            <ion-slides [loop]="item.sessions.length > 1" *ngIf="item.sessions.length > 0">
              <ion-slide *ngFor="let session of item.sessions">
                <img  [class]="'filter-' + session.filterOption" [src]="util.wrapHostBase(session.getThumbnail())" (click)="openItem(item)" >
              </ion-slide>
            </ion-slides>

            <img [src]="util.wrapHostBase(item.getThumbnail())" (click)="openItem(item)" >

          <div class="session-tile-details" [style.backgroundColor]="item.getPrimeColor() + 'e6'" >
            <div class="info"  (click)="openItem(item)">
              <p class="title center">#{{item.collectionTitle}}</p>
              <p class="date center">{{item.getDayCreated()}} {{item.getMonthCreated() | translate}} '{{item.getYearCreated()}} </p>
            </div>
            <ion-grid class="details-container">
              <ion-row class="session-tile-row" >

                <ion-col *ngIf="auth.getUserId() == roomUserId" >
                    <ion-icon name="more" class="session-tile-details-icon settings" (click)="itemSettings(item)" ></ion-icon>
                    <ion-icon name="unlock" class="session-tile-details-icon privacy" *ngIf="item.getPrivacyProtected()"></ion-icon>
                  <!-- <font class="session-tile-collection-title"> {{item.collectionTitle}} </font> -->
                </ion-col>

                

                <ion-col> 
                  <div class="session-tile-info">
                      <font class="cntFigure">
                          {{item.getNoSessions()}}
                      </font>
                      <ion-icon name="photos" class="session-tile-details-icon"></ion-icon>
                      <font class="cntFigure">
                          {{item.getNoComments()}}
                      </font>
                      <ion-icon name="text" class="session-tile-details-icon"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
    </ion-item>


    <div class="blank-card" (click)="addItem()" *ngIf="auth.getUserId() == roomUserId">
        <ion-icon class="blank-card-add" name="add">
        </ion-icon>
        {{'BLANK_CARD_ADD_COLLECTION' | translate}}
    </div>

  </ion-list>



  <!--
  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
-->
</ion-content>