@import "../../theme/variables";

page-my-room {

    .label{
        margin: 0 !important;
    }

    .item-inner{
        padding: 0 !important;
    }

    .item{
        background-color: transparent !important; 
        padding: 0 0 0 0 !important;
    }

    .item-wrapper{
        background-color: transparent !important;
    }

    .fixed-content{
        background: url('../assets/img/hangersbg.png') no-repeat transparent;
        opacity: 0.3;
        background-size: cover;
        background-repeat: repeat-x;
    }

    .session-tile{
        position: relative;
        height: 200px;
        width:100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: transform 1s ease-in 0s;
        //animation-duration: 100s; 
        //animation-name: animatedBackground; 
        //animation-iteration-count: infinite;
    }
  
    @keyframes animatedBackground {
      from { background-position: center; }
      to { background-position: center bottom; }
    }

    .session-tile-details{
        position: absolute;
        width: 100%; 
        background-color: color($colors, text, base);
        bottom: -1px;
        padding: 5px;
    }

    .session-tile-row{
        font-size: 14px; 
    }

    .session-tile-info{
        float: right;
    }

    .cntFigure{
        color: color($colors, dark-text, base);
    }

    .session-tile-details-icon{
        color: color($colors, dark-text, base);
    }

    .swipe-btn{
        color: color($colors, dark-text, base);
    }

    .swipe-icon{
        font-size: 50px;
    }

    
    
}
