@import "../../theme/variables";


session-item-image{

    .session-item-container{
        position: relative;
        height: 100%;
    }

    .session-details{
        position: absolute; 
        bottom: 0px;
        background-color: #ffffff9c;
    }

    .right{
        float: right !important;
    }

    .voting-btn{
        display: flex; 
        align-items: center;
        color: color($colors, dark-text, base);
        justify-content: space-between;
    }

    .session-menu-btn{
        font-size: 2em; 
        padding-right: 5px;
        padding-left: 5px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .session-menu-btn.active{
        color: color($colors, primary, base);
        border-radius: 2px; 
        background-color: #d1d1d1;
    }

    .purchase-tags-available{
        position: absolute; 
        top: 10%; 
        right: 15px;
    }

    .close-compare-session{
        position: absolute; 
        top: 5%; 
        right: 15px;
    }


    .tag{
        position: absolute;
        height: 20px; 
        width: 20px;
        background-color: $background-color;

        background-image: url('../assets/img/hanger_white.png');
        background-size: 15px 15px; 
        background-repeat: no-repeat;
        background-position: center center;
    }

    .vert-center{
        display: flex; 
        align-items: center;
    }
}