@import "../../theme/variables";

page-settings {

    .item{
        background-color: transparent;
        color: $background-color;

    }

     .toggle-inner{
        background-color : color($colors, primary, base);
    }

}
