// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        rgba(233,233,231,1);
$background-color: #466675; 
$background-color-dark: rgb(51, 67, 75);
$background-color-light: #e8e8e8;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #FAC8BF,
  primary-accent:    #8b3036,
  primary-light: #fdefed,
  secondary:  #94FFFC,
  light:      rgba(172,186,193,0.8),
  light-grey: rgb(169, 169, 169),
  dark-grey: rgba(123, 123, 123, 1),
  dark:       rgba(42,54,61,0.8),
  text:       $text-color, 
  dark-text: $background-color,
  creme : rgba(233,233,231,1)
);


$refresher-icon-color : color($colors, dark-text, base);
$refresher-text-color : color($colors, dark-text, base);
$refresher-icon-color : color($colors, dark-text, base);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
