<ion-header>

  <ion-navbar>
    <!--
    <ion-buttons>
      <button ion-button icon-only (click)="navBack()" >
        <ion-icon name="arrow-back" ></ion-icon>
      </button>
    </ion-buttons>
    -->
    <ion-title>{{ api.selectedCollection.collectionTitle }}</ion-title>

    <ion-buttons end>
        
        <button ion-button icon-only (click)="addItem()">
          <ion-icon name="videocam"></ion-icon>
        </button> 
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="api.loadCollection(selectedCollectionId, true, ($event.complete()))">
      <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Update MyRoom"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-grid>
    <ion-row >
       
      <ion-col col-6 *ngFor="let indexNo = index; let session of api.selectedCollection.sessions">
          <div class="photo-tile" [style.backgroundImage]="'url(' + config.getHostBase() + session.getThumbnail() + ')'" (click)="selectCompareSession(session)">
              <div id="flag_{{indexNo}}" class="flag-compare" [class.active]="isCompared(session) == true">
                  <ion-icon id="flag-icon_{{indexNo}}" name="git-compare" class="photo-tile-details-icon flag-icon" [class.active]="isCompared(session) == true" ></ion-icon>
                </div>

              <ion-spinner name="circles" *ngIf="session.flagIsTmp">
              </ion-spinner>
              <div class="photo-tile-details" >
                <ion-grid>
                  <ion-row>
                    <ion-col>
                            <ion-icon name="trash" class="photo-tile-details-icon session-delete" (click)="deleteSession(session)" ></ion-icon>
                    </ion-col>
                    <ion-col>

                      <div class="photo-tile-info">
                          <font class="cntFigure">
                              {{session.getNoVotes()}}
                            </font>
                            <ion-icon name="compass" class="photo-tile-details-icon"></ion-icon>

                          <font class="cntFigure">
                              {{session.getNoComments()}}
                          </font>
                          <ion-icon name="text" class="photo-tile-details-icon"></ion-icon>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <div class="footer-btns">
        <button ion-button icon-only (click)="compareItems()">
          <ion-icon name="git-compare"></ion-icon>
        </button>
      </div>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>