<ion-header>

  <ion-navbar>
    <ion-title>
      {{ '#' + api.selectedCollection.collectionTitle }}
      <p class="sub-page-title">@{{api.selectedCollection.userName}}</p>
    </ion-title>
    <ion-buttons end>

        <button ion-button icon-only (click)="compareItems()">
          <ion-icon name="git-compare"></ion-icon>
        </button>
        
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="api.loadCollection(selectedCollectionId, true, ($event.complete()))">
      <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Update MyRoom"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-grid>
    <ion-row>
      <ion-col  col-6 *ngFor="let indexNo = index; let session of localSessions.userLocalSessions">
          <div class="photo-tile" [style.backgroundImage]="util.sanitizeStyle('url(' + session.src + ')')" (click)="selectCompareSession(session)">
              <div id="flag_{{indexNo}}" class="flag-compare flag" [class.active]="isCompared(session)">
                  <ion-icon id="flag-icon_{{indexNo}}" name="git-compare" class="photo-tile-details-icon flag-icon" [class.active]="isCompared(session)" ></ion-icon>
                </div>

              <div class="photo-tile-details" >
                <ion-grid>
                  <ion-row>
                    <ion-col>
                          <ion-icon name="trash" class="photo-tile-details-icon session-delete" (click)="deleteLocalSession(session)" ></ion-icon>
                    </ion-col>
                    <ion-col right>
                        <ion-icon name="sync" class="photo-tile-details-icon session-delete" (click)="localSessions.upload(session)" ></ion-icon>
                    </ion-col>
                    

                  </ion-row>
                </ion-grid>
              </div>
            </div>
      </ion-col> 
  
      <ion-col col-6 *ngFor="let indexNo = index; let session of api.selectedCollection.sessions">
          <div class="photo-tile" [style.backgroundImage]="'url(' + util.wrapHostBase(session.getThumbnail()) + ')'" (click)="selectCompareSession(session)">
              <div id="flag_{{indexNo}}" class="flag-compare flag" [class.active]="isCompared(session) == true">
                  <ion-icon id="flag-icon_{{indexNo}}" name="git-compare" class="photo-tile-details-icon flag-icon" [class.active]="isCompared(session) == true" ></ion-icon>
                </div>

              <div id="vote_{{indexNo}}" class="flag-vote flag" [hidden]="!session.voteCnt" [class.highly-rated]="session.getIsHighlyRated()">
                  <div class="flag-vote-figure" [class.highly-rated]="session.getIsHighlyRated()">{{util.formatIntToPercent(session.voteAvg)}}</div>
                  <ion-icon name="thumbs-up" class="photo-tile-details-icon flag-vote-icon" >
                  </ion-icon>

              </div>

              <ion-spinner name="circles" *ngIf="session.flagIsTmp">
              </ion-spinner>
              <div class="photo-tile-details" >
                <ion-grid>
                  <ion-row>
                    <ion-col>
                            <ion-icon name="trash" *ngIf="auth.checkProfile(session, 'owner')" class="photo-tile-details-icon session-delete" (click)="deleteSession(session)" ></ion-icon>
                    </ion-col>
                    <ion-col>

                      <div class="photo-tile-info">
                          <font class="cntFigure">
                              {{session.getNoVotes()}}
                            </font>
                          <ion-icon class="photo-tile-details-icon vote" [class.active]="session.hasVote" ion-long-press 
                          [interval]="400" 
                          (click)="showReactions($event, session)"   icon-right clear small
                          [name]="voteHdl.getVoteIcon(session)" ></ion-icon>

                          <font class="cntFigure">
                              {{session.getNoComments()}}
                          </font>
                          <ion-icon name="ios-text-outline" class="photo-tile-details-icon"></ion-icon>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
      </ion-col> 

      <ion-col *ngIf="api.selectedCollection.sessions.length == 0 && localSessions.displayUserLocalSessions == 0" >
          
          <div class="blank-card" (click)="addItem()" *ngIf="auth.checkProfile(api.selectedCollection, 'owner')" >
              <ion-icon class="blank-card-add" name="videocam">
              </ion-icon>
              {{'BLANK_CARD_ADD_SESSION' | translate}}
          </div>

          <div class="blank-card" *ngIf="!auth.checkProfile(api.selectedCollection, 'owner')" >
              <ion-icon class="blank-card-add" name="videocam">
              </ion-icon>
              {{api.selectedCollection.userName}} {{'BLANK_CARD_NO_SESSION_NO_OWNER' | translate}}
          </div>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <div class="footer-btns">
          <button hidden class="footer-btns-button" ion-button icon-only (click)="sortSessionsByVotes()">
            <ion-icon name="arrow-round-down" [hidden]="!sortDirection" ></ion-icon>
            <ion-icon name="arrow-round-up" [hidden]="sortDirection"></ion-icon>
            <ion-icon name="podium"></ion-icon>
          </button>


          <button ion-button icon-only (click)="captureCameraPicture(false)" *ngIf="auth.checkProfile(api.selectedCollection, 'owner')">
            <ion-icon name="ios-images-outline"></ion-icon>
          </button>

          <button ion-button icon-only (click)="captureCameraPicture(true)" *ngIf="auth.checkProfile(api.selectedCollection, 'owner')">
            <ion-icon name="ios-camera-outline"></ion-icon>
          </button>

          <button ion-button icon-only (click)="addItem()" *ngIf="auth.checkProfile(api.selectedCollection, 'owner')">
            <ion-icon name="ios-refresh-outline"></ion-icon>
          </button>

          
        </div> 

      </ion-buttons>
  </ion-toolbar>
</ion-footer>