<ion-header>

  <ion-navbar>
    <ion-title>
      {{ '#' + collectionTitle }}
      <p class="sub-page-title">@{{collectionUserName}}</p>
    </ion-title>
    <ion-buttons end>

        <button ion-button icon-only (click)="compareItems()">
          <ion-icon name="git-compare"></ion-icon>
        </button>
        
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="loadCollection($event)">
      <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Update MyRoom"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-grid>
    <ion-row>
      
 
        <session-tile 
          *ngFor="let session of collection?.sessions; let i = index;"
          [session]="session"
          [index]="i"
          (onSessionDeleteClick)="onDeleteClick($event)"
          >
          
        </session-tile>

        

      <ion-col *ngIf="collection?.sessions.length == 0 && localSessions.userLocalSessions.length == 0" >
          
          <div class="blank-card" (click)="addItem()" *ngIf="auth.checkProfile(api.selectedCollection, 'owner')" >
              <ion-icon class="blank-card-add" name="camera">
              </ion-icon>
              {{'BLANK_CARD_ADD_SESSION' | translate}}
          </div>

          <div class="blank-card" *ngIf="!auth.checkProfile(api.selectedCollection, 'owner')" >
              <ion-icon class="blank-card-add" name="camera">
              </ion-icon>
              @{{collectionUserName}} {{'BLANK_CARD_NO_SESSION_NO_OWNER' | translate}}
          </div>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <div class="footer-btns">
          <button hidden class="footer-btns-button" ion-button icon-only (click)="sortSessionsByVotes()">
            <ion-icon name="arrow-round-down" [hidden]="!sortDirection" ></ion-icon>
            <ion-icon name="arrow-round-up" [hidden]="sortDirection"></ion-icon>
            <ion-icon name="podium"></ion-icon>
          </button>


          <button ion-button icon-only (click)="captureCameraPicture(false)" *ngIf="auth.checkProfile(api.selectedCollection, 'owner')">
            <ion-icon name="ios-images-outline"></ion-icon>
          </button>

          <button ion-button icon-only (click)="captureCameraPicture(true)" *ngIf="auth.checkProfile(api.selectedCollection, 'owner')">
            <ion-icon name="ios-camera-outline"></ion-icon>
          </button>

          <button hidden ion-button icon-only (click)="addItem()" *ngIf="auth.checkProfile(api.selectedCollection, 'owner')">
            <ion-icon name="ios-refresh-outline"></ion-icon>
          </button>

          
        </div> 

      </ion-buttons>
  </ion-toolbar>
</ion-footer>