
@import "../theme/variables";

// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.toolbar-background-ios{
    background-color: $background-color;
} 

.toolbar-title.toolbar-title-ios,
.toolbar-title.toolbar-title-wp,
.toolbar-title.toolbar-title-md{
    color: map-get($colors,light);
}

html, body, ion-app, div.nav-decor, .ion-content, .app-root { background-color: transparent !important; }

.flag-compare{
    position: absolute; 
    height: 40px; 
    width: 30px; 
    display: flex; 
    align-items: center; 
    right: 5px; 
    background: color($colors, light-grey, base);
  }
  
  .flag-icon{
    text-align: center;
    width: 100%;
    font-size: 30px;
  }
  
  .flag-icon.active{
    color: white;
  }
  
  .flag-compare.active{
    background: color($colors, primary, base);
  }
  
  .footer-btns{
    text-align: center;
  }

  .content, .content-ios{
    background-color: rgba(233,233,231,1);
    background-image: url('../assets/img/comfash-bg.png');
  }

    
  .btn-header{
    position: fixed; 
    opacity: 0.8;
    top: 15px; 
    left: 5px; 
    z-index: 999;
  }