@import "../../theme/variables";


page-notifications {

    ion-label{
        white-space: normal !important;
    }


    .empty-notifications.item{
        background-color: transparent;
        padding-top: 20px; 
    }

    .empty-notifications.item .item-inner{
        padding-bottom: 20px;
    }



    .empty-notifications .label{
        text-align: center;
        color: color($colors, dark-grey, base);
    }


    .scroll-content{
        background-color: transparent;
        padding: 0 !important;
    }

    .item, .item-inner, .grid, {
        padding: 0;
        margin: 0;
    }

    .label{
        margin: 5px 0px 5px 0px;
    }

    .item{
        background-color: white;
    }

    ion-col.session-thumbnail{
        min-width: 60px;
    }

    .sender-avatar-thumbnail{
        height: 45px; 
        width: 45px; 
        background-position: center center; 
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0;
        border-radius: 25px;
        margin-left: 5px;
        background-image: url("../assets/img/hangersbg.png");
      }

    .session-thumbnail{
        height: 45px; 
        width: 45px; 
        background-position: center center; 
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0;
        border-radius: 5px;
        margin-left: 5px;
        background-image: url("../assets/img/hangersbg.png");
      }
  
    .session-tile-header-row{
        //margin: 7px 12px;
    }

    .message-body, .message-details{
        color: color($colors, dark, base);
    }

    .message-body{
        font-size: 12px; 
        max-width: 60vw;
    }

    .message-details{
        bottom: 2px; 
        font-size: 10px;
        color: color($colors, light-grey, base);
    }

    .unread{
        font-weight: 600;
    }

    .arrow-icon{
        display: flex; 
        align-items: center; 
        font-size: 20px;
        color: color($colors, light-grey, base);
    }

    .arrow-icon icon{
        width: 100%; 
        text-align: center;
    }
}
