@import "../../theme/variables";


page-content{

    background-color: white;

    .force-no-scroll{
        position: fixed !important;
        overflow: hidden !important; 
    }

    .scroll-content{
        padding:0 !important;
    }

    .loading-icon-box{
        position: fixed; 

        z-index: 2; 

        background-color: $background-color;
        transform: translate(50%, 50%);
        top: 50%; 
        right: 50%; 
        border-radius: 12px;
    }

    @keyframes swinging{
        0%{transform: rotate(10deg);}
        50%{transform: rotate(-5deg)}
        100%{transform: rotate(10deg);}
    }

    .loading-icon{
        transform-origin: 50% 0;
        background-image: url('../assets/img/hanger_white.png');
        background-size: 50px 50px; 
        background-repeat: no-repeat;
        background-position: center center;
        height: 50px; 
        width: 50px;
        animation: swinging 2.5s ease-in-out forwards infinite;
    }

    #row-compare-items{
        display: flex;
    }

    session-item {
        display: inline-flex;
    }

    .session-item-item{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .comment-add-container{
        display: flex; 
        justify-content: space-between;
        align-items: center;
    }

    .comment-add-text{
        color: color($colors, dark-text, base);
        width: 80%;
        padding: 5px;
    }

    .comment-add-btn{
        font-size: 30px;
        color: grey;
        padding: 10px;
    }

    #comment-list, 
    #tag-list{
        position: absolute; 
        top: 70vh; 
        height: 0;
        width: 100%;
        overflow: scroll;
    }

    #comment-list.active, 
    #tag-list.active{
        height: 30vh;
    }

    .comment-avatar, 
    .tag-avatar{
        height: 30px; 
        width: 100%; 
        border-radius: 2px;
        margin-top: 7px;
        object-fit: cover; 
        object-position: center;
    }
    
    .be-first-comment{
        color: rgba(color($colors, light-grey, base),0.8);
        width: 100%; 
        text-align: center;
        padding-top: 25px;
    }
    .be-first-comment .icon{
        padding-left: 5px;
    }

    .comment-body, 
    .tag-body{
        display: flex; 
        justify-content: left;
        align-items: center;
        color: color($colors, dark-text, base);
        margin: 0 10px 20px 5px;
        padding-top: 5px;
    }

    .tag-text{
        max-width: 70vw;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .tag-link{
        padding-left: 5px;
    }

    .comment-list-item, 
    .tag-list-item{
        background-color: white;
        position: relative; 
        border-bottom: 1px solid #eeeeee;
    }

    .comment-list-item-detail, 
    .tag-list-item-detail{
        font-size : 8px;
        color: rgba(color($colors, dark-text, base),0.8);
        padding-right: 5px;
        position: absolute;
        right: 5px;
        bottom: 5px;
    }

    .comment-list-item .comment-text{
        max-width: 90%;
        padding-left: 10px;
    }

    .comment-list-item .avatar-container{
        width: 10%;
    }

    .comment-list-item .settings-icon{
        width: 100%; 
        text-align: center;
        color: color($colors, dark-grey, base)
    }

}
