@import "../../theme/variables";

page-content{

    .content{
        background-image: linear-gradient(to top, $background-color 0%, $background-color-dark 50%);
    }

    .btn-header{
        position: absolute; 
        opacity: 0.8;
    }

    #row-compare-items{
        height: calc(100vh - 80px);
    }

    .compare-item-pic{
        height: 100%;
        width: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .compare-item-pic{
        display: flex; 
        align-items: center;
    }

    .tmp-no{
        position: relative;
        width: 100%; 
        text-align: center; 
        font-size: 11vh; 
        color: #ffffffcf;
    }

    .compare-pic-comment{
        position: absolute; 
        padding: 4px; 
        background-color: #949494;
    }

    .flag-comment{
        position: absolute; 
        top: 41%;
        background-image: url('../assets/img/hanger_white.png');
        background-size: cover; 
        background-position: center center;
        width: 30px; 
        height: 30px;
        transform: rotate(15deg);
    }

    .hanger-container{
        width: 100%; 
        margin-left: 5px; 
        margin-right: 5px;
    }

}
