<ion-content>
    
  
    <ion-buttons class="btn-header">
      <button ion-button icon-only (click)="navBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>


    <ion-row no-bounce no-scrolling id="row-compare-items">
      <ion-col col *ngFor="let session of compareItems;">
          <div class="compare-item-pic" [style.backgroundImage]="'url(' + getImgPath(session) + ')'" 
          ion-long-press [interval]="400" (onPressStart)="pressed($event, session)" (onPressEnd)="released($event)"
          >
            <div class="tmp-no">
              img # {{imgNumber}}
            </div>

            <div class="compare-pic-comment" *ngFor="let comment of getImgComment(session)" [style]="sanitizer.bypassSecurityTrustStyle(comment.getScalledCommentPos('row-compare-items',getImgFromSession(session)))" >
              {{comment.commentText}}
            </div>
          </div>
      </ion-col>
    </ion-row>
  
 <!--
  {{testText}}
    <div id="testId" class="compare-item-pic" style="background-image: url('assets/img/speakers/1.jpg');" ion-long-press [interval]="400" (onPressStart)="pressed($event)" (onPressing)="active($event)" (onPressEnd)="released($event)">
      
      
      <div class="compare-pic-comment" *ngFor="let comment of comments" [style.left]="comment.x + 'px'" [style.top]="comment.y + 'px'" >
        {{comment.text}}
      </div>
    </div>
  -->
</ion-content>


<ion-footer>

  <ion-toolbar>
    <div class="hanger-container">
        <div *ngFor="let hanger of calculateFooterHangers();" class="flag-comment" [style.left]='hanger.orderPrc + "%"'></div>
    </div>
    
      <ion-range [(ngModel)]="imgNumber" min="0" max="100" ratio="true" color="danger" pin="false"></ion-range>
  </ion-toolbar>

</ion-footer>