
@import "../../theme/variables";


activity-item{
    // session-tile is configured in app.scss

    vid-icon{
        font-size: 10px;
        margin-right: 0 !important;
    }

    .session-img{
        height: 65vh; 
        width: 90vw; 
        object-fit: cover; 
        object-position: center;
        padding-top: 80px;
    }

    .session-tile-details{
        bottom: unset; 
        top: 0;
        background-color: rgba(color($colors, very-dark, base), 0.95)
    }

    .session-tile-details .title{
        margin: 5px;
    }

    .activity-item-details{
        bottom: 0;
        top: unset;
    }

    .details-container .session-tile-row{
        display: flex; 
        align-items: center;
        margin-top: 10px;
    }

    .session-tile-row-owner{
        padding: 10px;
    }


    .creator-profile-avatar{
        padding: 5px;
        border-radius: 50px;
        height: 50px;
        width: 50px; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .colOwner-profile-avatar{
        border-radius: 25px;
        height: 30px;
        width: 30px; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 10px;
    }

    .session-tile-info.owner-container{
        display: flex; 
        align-content: center;
    }

    .session-tile-info-container{
        margin-left: 10px;
        max-width: 75vw;
        padding-top: 10px;
    }

    .session-tile-info.left{
        float: left;
    }

    .colOwner{
        font-weight: 100;
        margin-top: 5px;
    }

    .session-tile-info p{
        margin: 0;
    }

    .session-tile-info .comment-text, 
    .session-tile-info .vote-text{
        font-family: Roboto; 
        font-weight: 100;
        font-size: 15px;
        color: $background-color;
        margin-bottom: 5px;
    }

    .session-tile-info .date{
        font-family: Roboto; 
        font-weight: 100;
        font-size: 10px;
        color: $background-color;
    }


    .link-collection{
        color: white;
    }

    .link-username{
        color: color($colors, primary, base);
        font-weight: 400;
    }

    .colOwner .link-username{
        color: white;
    }


}