@import "../../theme/variables";

page-signup {

  .content, .content-ios{
    background-color: $background-color;
    background-image: unset;
  }

    position: absolute !important; 
    top: 30vh !important; 
    opacity: 0.95 !important; 

  .main-cont{
    //height: 100vh; 
    //background-color: rgba($background-color,0.8) !important;
    //padding-top: 40vh; 
  }

  .header{
    position: relative !important;
  }


  .profile-image-wrapper {
    text-align: center;
    margin: 20px 0;

    .profile-image {
      width: 96px;
      height: 96px;
      border-radius: 50%;

      display: inline-block;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .profile-image-placeholder {
      display: inline-block;

      background-color: #eee;
      width: 96px;
      height: 96px;
      border-radius: 50%;

      font-size: 12px;

      ion-icon {
        font-size: 44px;
        margin-bottom: -10px;
        margin-top: 10px;
      }
    }
  }

  .content{
    //background-color: rgba($background-color,0.8) !important;
    height: 70vh;
    overflow: hidden;
  }

  .item-toggle{
    height: 70px;
  }

  .hidden{
    display: none;
  }

  .footer-signup{
      width:100%;
      text-align: center;
      z-index: 5;
      padding: 5px; 
      font-size: 10px;
      opacity: 0.8;
      position: absolute; 
      bottom: 0;
  }

  .sign-up-form-list{
    margin: 0;
    z-index: 10;
  }

}
