@import "../../theme/variables";

page-cards {
    .item-ios, .card-ios{
        background-color: color($colors, light-grey, base);
    }

    .item-ios p, .card-ios p{
        color: $text-color;
    }

    .session-tile{
        position: relative;
        height: 200px;
        width:100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: transform 1s ease-in 0s;
        //animation-duration: 100s; 
        //animation-name: animatedBackground; 
        //animation-iteration-count: infinite;
    }
    .session-title{
        background: color($colors, primary, base);
        position: absolute; 
        width: 100%; 
        bottom: 0px;
    }

    .session-details{
        color: color($colors, text, base);
    }
}
